<div class="body">
    <mat-card class="card">
        <div class="head">
            <mat-chip-list class="ship-head" *ngIf="post.ai.adult && (post.ai.adult.isAdultContent || post.ai.adult.isGoryContent || post.ai.adult.isRacyContent)">
                <mat-chip class="adult" *ngIf="post.ai.adult.isAdultContent">18+</mat-chip>
                <mat-chip class="gore" *ngIf="post.ai.adult.isGoryContent">Blutig</mat-chip>
                <mat-chip class="racy" *ngIf="post.ai.adult.isRacyContent">Rassistisch</mat-chip>
            </mat-chip-list>
        </div>
        <img [src]="imgUrl" (click)="openPost()">
        <div class="subline">           
            <div class="likes">
                <button mat-icon-button (click)="like()">
                    <mat-icon *ngIf="post.likes.includes(user.userId)" class="icon" color="warn">favorite</mat-icon>
                    <mat-icon *ngIf="!post.likes.includes(user.userId)" class="icon">favorite_outline</mat-icon>
                </button>
                {{post.likes.length}}
            </div>
            <div class="comments">
                {{post.comments.length}}
                <button mat-icon-button (click)="openPost()"><mat-icon class="icon">chat</mat-icon></button>
            </div>
        </div>
    </mat-card>
</div>