.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-head {
    float: left;
}

.ship-head .mat-chip {
    margin-bottom: 1em !important;
}

.adult {
    background-color: #f44336;
    color: #fff;
}

.racy {
    background-color: #ff9800;
    color: #fff;
}

.gore {
    background-color: #4caf50;
    color: #fff;
}

.edit {
    float: right;
    margin-bottom: .75em;
}

.subline {
    width: 100%;
    margin-top: .5em;
    padding-bottom: 1.75em;
}

.icon {
    vertical-align: middle;
    margin-left: .25em;
    margin-right: .25em;
    padding-bottom: .125em;
}

.likes-count {
    float: left;
    padding-left: .75em;
}

.comments-count {
    float: right;
    padding-right: .75em;
}

.ai {
    margin-top: 1em;
    // padding: .5em;
    // border: 1px solid #4caf50;
    // border-radius: 18px;
    // background-color: #4caf4f25;

    color: white;
    background-color: rgba(64, 156, 255, 0.125);
}

h4 {
    font-weight: 400;
    color: rgb(0, 140, 255);
    margin-top: .25em;
    margin-bottom: .5em;
}

.ai-description {
    font-size: 1.25em;
    color: #ff0800;
    margin-top: .75em;
    margin-bottom: 1em;
}

.ai-objects {
    margin-bottom: 1em;
}

.ai-faces {
    margin-bottom: 1em;
}

.face {
    background-color: #48abb3;
}

.ai-brands {
    margin-bottom: 1em;
}

.brand {
    background-color: #a872e6;
}

.ai-tags {
    margin-bottom: .25em;
}

.high {
    background-color: rgb(255, 80, 80);
}

.medium {
    background-color: rgb(255, 185, 55);
}

.low {
    background-color: rgba(80, 255, 80, 0.85);
}

.caption {
    margin: 1.25em 0 .25em .25em;
    padding-bottom: .75em;
}

.comments {
    margin-top: 1em;
}

.comment-input {
    width: 100%;
}

.fab {
    position: fixed;
    right: 1em;
    bottom: 1em;
}

// PC
@media (min-width: 1281px) {
  
    .card {
        width: 500px;
        margin-top: 2em;
        border-radius: 10px;
    }

    img {
        width: 500px;
        height: 500px;
    }
    
}

// Handy und Tablet hochkant
@media (min-width: 320px) and (max-width: 1024px), (max-width: 1024px) and (orientation: portrait) {

    .card {
        width: 300px;
        margin-top: 2em;
        border-radius: 10px;
    }

    img {
        width: 300px;
        height: 300px;
    }

}

// Tablet
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .card {
        width: 400px;
        margin-top: 2em;
        border-radius: 10px;
    }

    img {
        width: 400px;
        height: 400px;
    }
}