<div class="body">
    <mat-card class="card" *ngIf="post">
        <div class="head">
            <mat-chip-list class="ship-head" *ngIf="post.ai.adult && (post.ai.adult.isAdultContent || post.ai.adult.isGoryContent || post.ai.adult.isRacyContent)">
                <mat-chip class="adult" *ngIf="post.ai.adult.isAdultContent">18+</mat-chip>
                <mat-chip class="gore" *ngIf="post.ai.adult.isGoryContent">Blutig</mat-chip>
                <mat-chip class="racy" *ngIf="post.ai.adult.isRacyContent">Freizügig</mat-chip>
            </mat-chip-list>
            <button mat-icon-button *ngIf="post.user == user.userId" class="edit" (click)="remove()"><mat-icon>delete</mat-icon></button>
            <!-- <button mat-icon-button *ngIf="post.user == user.userId" class="edit" (click)="edit()"><mat-icon>edit</mat-icon></button> -->
        </div>
        <img [src]="imgUrl">
        <div class="subline">           
            <div class="likes-count">
                <button mat-icon-button (click)="like()">
                    <mat-icon *ngIf="post.likes.includes(user.userId)" class="icon" color="warn">favorite</mat-icon>
                    <mat-icon *ngIf="!post.likes.includes(user.userId)" class="icon">favorite_outline</mat-icon>
                </button>
                {{post.likes.length}}
            </div>
            <div class="comments-count">
                {{post.comments.length}}
                <button mat-icon-button><mat-icon class="icon">chat</mat-icon></button>
            </div>
        </div>
        <div >
            <mat-card class="ai" *ngIf="post.ai.description || post.ai.tags">
                <h4>Künstliche Intelligenz:</h4>
                <div class="ai-description" *ngIf="post.ai.description">
                    {{ post.ai.description.captions[0].text }}
                </div>
                <div class="ai-objects" *ngIf="post.ai.objects.length > 0">
                    <h4>Objekte:</h4>
                    <mat-chip-list>
                        <mat-chip *ngFor="let object of post.ai.objects;" [class.high]="object.confidence >= .95" [class.medium]=".95 > object.confidence && object.confidence > .90" [class.low]="object.confidence < .90">{{ object.object }}</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="ai-faces" *ngIf="post.ai.faces.length > 0">
                    <h4>Gesichter:</h4>
                    <mat-chip-list>
                        <mat-chip class="face" *ngFor="let face of post.ai.faces;">{{ face.gender }} {{ face.age }} years old</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="ai-brands" *ngIf="post.ai.brands.length > 0">
                    <h4>Marken:</h4>
                    <mat-chip-list>
                        <mat-chip class="brand" *ngFor="let brand of post.ai.brands;">{{ brand.name }}</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="ai-tags" *ngIf="post.ai.tags">
                    <h4>Tags:</h4>
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of post.ai.tags;" [class.high]="tag.confidence >= .95" [class.medium]=".95 > tag.confidence && tag.confidence > .90" [class.low]="tag.confidence < .90">{{ tag.name }}</mat-chip>
                    </mat-chip-list>
                </div>
            </mat-card>
            
        </div>
        <div class="caption">
            {{post.caption}}
        </div>
        <hr>
        <div class="comments">
            <mat-form-field class="comment-input" appearance="fill">
                <mat-label>Kommentar</mat-label>
                <input matInput type="text" [(ngModel)]="newComment.text">
                <button mat-icon-button matSuffix *ngIf="newComment.text" (click)="comment()">
                    <mat-icon >send</mat-icon>
                </button>
            </mat-form-field>
            
            <app-post-comment *ngFor="let comment of post.comments" [post]="post" [comment]="comment"></app-post-comment>
        </div>
    </mat-card>
</div>

<div class="fab">
    <button mat-fab color="primary" (click)="getPost(post._id)">
        <mat-icon>refresh</mat-icon>
    </button>
</div>